footer.footer
  .footer__inner.container
    .footer__logo.logo
      a.logo__link
        img.logo__image(src="img/logo-white.svg" width="120" height="80" alt="Alton Современные IT решения - логотип")
    
    .footer__links
      .footer-links
          h4.footer-links__heading Компания
          ul.footer-links__list
            li.footer-links__item
              a.footer-links__link(href="#") Кто мы
            li.footer-links__item
              a.footer-links__link(href="#") Кейсы
            li.footer-links__item
              a.footer-links__link(href="#") Новости
            li.footer-links__item
              a.footer-links__link(href="#") Статьи
            li.footer-links__item
              a.footer-links__link(href="#") Контакты
      .footer-links
        h4.footer-links__heading Услуги
        ul.footer-links__list
          li.footer-links__item
            a.footer-links__link(href="#") IT Аутсорсинг
          li.footer-links__item
            a.footer-links__link(href="#") СКС
          li.footer-links__item
            a.footer-links__link(href="#") IT Аудит
          li.footer-links__item
            a.footer-links__link(href="#") Информационная безопасность
          li.footer-links__item
            a.footer-links__link(href="#") СКУД
          li.footer-links__item
            a.footer-links__link(href="#") ATC и IP телефония
          li.footer-links__item
            a.footer-links__link(href="#") 1C и CRM
          li.footer-links__item
            a.footer-links__link(href="#") Поставка оборудования и ПО
    
    .footer__info
      .footer__contacts.footer-contacts
        p.footer-contacts__heading Связаться с нами
        ul.footer-contacts__list
          li.footer-contacts__item
            a.footer-contacts__link.footer-contacts__link--big(href="tel:+74991132086") +7 499 113 20 86
          li.footer-contacts__item
            a.footer-contacts__link(href="mailto:info@alton.pro") info@alton.pro
        a.footer-contacts__modal-btn.btn.btn--sm.btn--light-gradient Задать вопрос

      include ../includes/modules/social

    p.copyright Copyright &copy; 2020. All rights reserved