section.cases
    .cases__inner.container
        .section-header.cases__header
            p.section-header__preheading КЕЙСЫ
            h2.section-header__heading.cases__heading Выполненные проекты
        ul.cases__list
            li.cases__item
                .cases__card.case-card
                    h3.case-card__title БайнетСтарт
                    .case-card__desc
                        p Исходя из астатической системы координат Булгакова, уравнение малых колебаний огромно.  
                        p Суммарный поворот переворачивает угол тангажа.
                        p Абсолютно твёрдое тело интегрирует гирогоризонт. Центр подвеса, согласно третьему закону Ньютона, стабилизирует установившийся режим.
                    .case-card__footer
                        p.case-card__service IT Аутсорсинг
                        .case-card__images
                            img.case-card__image(src="img/baitnet-image.jpg" width="200" height="200" alt="" aria-hidden="true")
                            .case-card__logo-wrap
                                img.case-card__logo(src="img/baitnet-logo.svg" width="45" height="45" alt="Логотип БайнетСтарт")
            li.cases__item
                .cases__card.case-card
                    h3.case-card__title Oasis
                    .case-card__desc
                        p Исходя из астатической системы координат Булгакова, уравнение малых колебаний огромно.  
                        p Суммарный поворот переворачивает угол тангажа.
                        p Абсолютно твёрдое тело интегрирует гирогоризонт. Центр подвеса, согласно третьему закону Ньютона, стабилизирует установившийся режим.
                    .case-card__footer
                        p.case-card__service Информационная безопасность
                        .case-card__images
                            img.case-card__image(src="img/baitnet-image.jpg" width="200" height="200")
                            .case-card__logo-wrap
                                img.case-card__logo(src="img/baitnet-logo.svg" width="45" height="45" alt="Логотип Oasis")
            li.cases__item
                .cases__card.case-card
                    h3.case-card__title А-Транс
                    .case-card__desc
                        p Исходя из астатической системы координат Булгакова, уравнение малых колебаний огромно.  
                        p Суммарный поворот переворачивает угол тангажа.
                        p Абсолютно твёрдое тело интегрирует гирогоризонт. Центр подвеса, согласно третьему закону Ньютона, стабилизирует установившийся режим.
                    .case-card__footer
                        p.case-card__service IT Аутсорсинг
                        .case-card__images
                            img.case-card__image(src="img/baitnet-image.jpg" width="200" height="200")
                            .case-card__logo-wrap
                                img.case-card__logo(src="img/baitnet-logo.svg" width="45" height="45" alt="Логотип IT Аутсорсинг")
            li.cases__item
                .cases__card.case-card
                    h3.case-card__title А-Транс 2
                    .case-card__desc
                        p Исходя из астатической системы координат Булгакова, уравнение малых колебаний огромно.  
                        p Суммарный поворот переворачивает угол тангажа.
                        p Абсолютно твёрдое тело интегрирует гирогоризонт. Центр подвеса, согласно третьему закону Ньютона, стабилизирует установившийся режим.
                    .case-card__footer
                        p.case-card__service IT Аутсорсинг
                        .case-card__images
                            img.case-card__image(src="img/baitnet-image.jpg" width="200" height="200")
                            .case-card__logo-wrap
                                img.case-card__logo(src="img/baitnet-logo.svg" width="45" height="45" alt="Логотип IT Аутсорсинг")
        
        include ../modules/slider-nav