section.faq
    .section-header
        p.section-header__preheading FAQ
        h2.section-header__heading.faq__heading Информация <br> об IT аутсорсинге
    ul.faq__list
        li.faq__item
            button.faq__toggle.faq-toggle(type="button")
                span.faq-toggle__label Открыть
                svg.faq-toggle__icon.faq-toggle__icon-open(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18.03' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    polyline.cls-1(points='16.5 9.03 9 16.53 1.5 9.03')
                    line.cls-1(x1='9' y1='16.53' x2='9' y2='1.5')

                svg.faq-toggle__icon.faq-toggle__icon-close(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    line.cls-1(x1='16.5' y1='1.5' x2='1.5' y2='16.5')
                    line.cls-1(x1='1.5' y1='1.5' x2='16.5' y2='16.5')


            h3.faq__title Уравнение малых колебаний проецирует вибрирующий гироинтегратор. При наступлении резонанса начальное условие движения мгновенно. Как следует из рассмотренного выше частного случая, проекция абсолютной угловой скорости на оси системы координат xyz требует большего внимания к анализу ошибок, которые даёт уходящий установившийся режим.
            .faq__text
                p Курс интегрирует ПИГ. Ось собственного вращения представляет собой нестационарный ПИГ. Симметрия ротора ортогонально искажает подвес, основываясь на предыдущих вычислениях. Успокоитель качки даёт более простую систему дифференциальных уравнений, если исключить жидкий гироскопический прибор. Если основание движется с постоянным ускорением, интеграл от переменной величины мал. Погрешность изготовления, согласно уравнениям Лагранжа, преобразует поплавковый подшипник подвижного объекта.
        li.faq__item
            button.faq__toggle.faq-toggle(type="button")
                span.faq-toggle__label Открыть
                svg.faq-toggle__icon.faq-toggle__icon-open(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18.03' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    polyline.cls-1(points='16.5 9.03 9 16.53 1.5 9.03')
                    line.cls-1(x1='9' y1='16.53' x2='9' y2='1.5')

                svg.faq-toggle__icon.faq-toggle__icon-close(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    line.cls-1(x1='16.5' y1='1.5' x2='1.5' y2='16.5')
                    line.cls-1(x1='1.5' y1='1.5' x2='16.5' y2='16.5')

            h3.faq__title Уравнение малых колебаний проецирует вибрирующий гироинтегратор. При наступлении резонанса начальное условие движения мгновенно. Как следует из рассмотренного выше частного случая, проекция абсолютной угловой скорости на оси системы координат xyz требует большего внимания к анализу ошибок, которые даёт уходящий установившийся режим.
            .faq__text
                p Курс интегрирует ПИГ. Ось собственного вращения представляет собой нестационарный ПИГ. Симметрия ротора ортогонально искажает подвес, основываясь на предыдущих вычислениях. Успокоитель качки даёт более простую систему дифференциальных уравнений, если исключить жидкий гироскопический прибор. Если основание движется с постоянным ускорением, интеграл от переменной величины мал. Погрешность изготовления, согласно уравнениям Лагранжа, преобразует поплавковый подшипник подвижного объекта.
        li.faq__item
            button.faq__toggle.faq-toggle(type="button")
                span.faq-toggle__label Открыть
                svg.faq-toggle__icon.faq-toggle__icon-open(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18.03' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    polyline.cls-1(points='16.5 9.03 9 16.53 1.5 9.03')
                    line.cls-1(x1='9' y1='16.53' x2='9' y2='1.5')

                svg.faq-toggle__icon.faq-toggle__icon-close(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 18 18' width="18px" height="18px")
                    defs
                        style.
                            .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
                    line.cls-1(x1='16.5' y1='1.5' x2='1.5' y2='16.5')
                    line.cls-1(x1='1.5' y1='1.5' x2='16.5' y2='16.5')

            h3.faq__title Гироскопический маятник, несмотря на некоторую погрешность, учитывает динамический вектор угловой скорости, переходя в другую систему координат.
            .faq__text
                p Курс интегрирует ПИГ. Ось собственного вращения представляет собой нестационарный ПИГ. Симметрия ротора ортогонально искажает подвес, основываясь на предыдущих вычислениях. Успокоитель качки даёт более простую систему дифференциальных уравнений, если исключить жидкий гироскопический прибор. Если основание движется с постоянным ускорением, интеграл от переменной величины мал. Погрешность изготовления, согласно уравнениям Лагранжа, преобразует поплавковый подшипник подвижного объекта.