.hero
    .hero__inner.container
        .hero__text
            p.hero__heading IT аутсорсинг
            p.hero__desc Межзвездная матеpия параллельна. Как было показано выше, радиант традиционно вызывает ионный хвост, однако большинство спутников движутся вокруг своих планет в ту же сторону, в какую вращаются планеты.
            a.hero__link.btn.open-popup-link(href="#contacForm") Рассчитать стоимость
        .hero__media
            .hero__image-wrap
                img.hero__image(src="img/hero-image.jpg" width="400" height="400" alt="Gggg")
                img.hero__image-big(src="img/hero-big.jpg" width="720" height="720" alt="Gggg")
