.testimonials
    .testimonials__inner.container
        .section-header.testimonials__header
            p.section-header__preheading ОТЗЫВЫ
            h2.section-header__heading.faq__heading Что говорят клиенты <br>о нашей работе?
        ul.testimonials__list
            li.testimonials__item
                .testimonials__text
                    p Иными словами, восприятие сотворчества однократно. Аксиология продолжает определенный синтез искусств, однако само по себе состояние игры всегда амбивалентно. Художественная видимость изящно представляет собой суггестивный социально-психологический фактор.
                .testimonials__footer
                    img.testimonials__avatar(src="img/avatar.jpg" width="100" height="100" alt="Александр Александров")
                    .testimonials__author.testimonials-author
                        p.testimonials-author__name Александр Александров
                        p.testimonials-author__company S-Group
            li.testimonials__item
                .testimonials__text
                    p Иными словами, восприятие сотворчества однократно. Аксиология продолжает определенный синтез искусств, однако само по себе состояние игры всегда амбивалентно. Художественная видимость изящно представляет собой суггестивный социально-психологический фактор.
                .testimonials__footer
                    img.testimonials__avatar(src="img/avatar.jpg" width="100" height="100" alt="Александр Александров")
                    .testimonials__author.testimonials-author
                        p.testimonials-author__name Александр Александров
                        p.testimonials-author__company S-Group
            li.testimonials__item
                .testimonials__text
                    p Иными словами, восприятие сотворчества однократно. Аксиология продолжает определенный синтез искусств, однако само по себе состояние игры всегда амбивалентно. Художественная видимость изящно представляет собой суггестивный социально-психологический фактор.
                .testimonials__footer
                    img.testimonials__avatar(src="img/avatar.jpg" width="100" height="100" alt="Александр Александров")
                    .testimonials__author.testimonials-author
                        p.testimonials-author__name Александр Александров
                        p.testimonials-author__company S-Group

        .testimonials__nav
            include ../modules/slider-nav