section.work-stages
    .work-stages__inner.container
        h2.work-stages__heading Этапы работы
        ol.work-stages__list
            li.work-stages__item
                .work-stages__icon-wrap
                    img.work-stages__icon(src="img/phone.svg" width="30" height="48" alt="Иконка телефона" aria-hidden="true")
                h3.work-stages__title Обращение <br>к нам
                p.work-stages__desc Ускорение не входит <br>в силы нормальных <br>реакций связей, так же как <br>и объект, сводя задачу <br>к квадратурам
            li.work-stages__item
                .work-stages__icon-wrap
                    img.work-stages__icon(src="img/checkmarks.svg" width="50" height="47" alt="Иконка отметок с галочками" aria-hidden="true")
                h3.work-stages__title Постановка <br>задачи
                p.work-stages__desc Ускорение не входит <br>в силы нормальных <br>реакций связей, так же как <br>и объект, сводя задачу <br>к квадратурам
            li.work-stages__item
                .work-stages__icon-wrap
                    img.work-stages__icon(src="img/person.svg" width="41" height="64" alt="Иконка работника" aria-hidden="true")
                h3.work-stages__title Разработка <br>проекта
                p.work-stages__desc Ускорение не входит <br>в силы нормальных <br>реакций связей, так же как <br>и объект, сводя задачу <br>к квадратурам
            li.work-stages__item
                .work-stages__icon-wrap
                    img.work-stages__icon(src="img/wrench.svg" width="39" height="50" alt="Иконка гаечного ключа" aria-hidden="true")
                h3.work-stages__title Выполнение <br>работ
                p.work-stages__desc Ускорение не входит <br>в силы нормальных <br>реакций связей, так же как <br>и объект, сводя задачу <br>к квадратурам
            li.work-stages__item
                .work-stages__icon-wrap
                    img.work-stages__icon(src="img/target.svg" width="54" height="54" alt="Иконка мишени с галочкой" aria-hidden="true")
                h3.work-stages__title Получение <br>результата
                p.work-stages__desc Ускорение не входит <br>в силы нормальных <br>реакций связей, так же как <br>и объект, сводя задачу <br>к квадратурам

        include ../modules/slider-nav