.slider-arrows
    button.slider-arrows__btn.slider-prev-btn(type="button" aria-label="Показать предыдущий слайд")
        svg.slider-arrows__icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.06 28' width="25" height="25" aria-hidden="true")
            defs
                style.
                    .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
            polyline.cls-1(points='14 26.5 1.5 14 14 1.5')
            line.cls-1(x1='1.5', y1='14', x2='26.56', y2='14')
    button.slider-arrows__btn.slider-next-btn(type="button" aria-label="Показать следующий слайд")
        svg.slider-arrows__icon(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 28.06 28' width="25" height="25" aria-hidden="true")
            defs
                style.
                    .cls-1{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;}
            polyline.cls-1(points='14.06 1.5 26.56 14 14.06 26.5')
            line.cls-1(x1='26.56', y1='14', x2='1.5', y2='14')

.slider-dots