extends common/layout

block main
  main.main
    include includes/index/hero
    include includes/index/outsourcing
    include includes/index/work-stages
    //- include includes/index/estimation
    include includes/index/cases
    include includes/index/testimonials
    include includes/index/faq