$main-font: 'Ubuntu', sans-serif;
$heading-font: 'Crimson Text', serif;

$color-akcent-1: #0068ae;
$color-akcent-1-hover: #004b8c;
$color-akcent-2: #58b057;
$color-akcent-2-hover: #32943e ;
$color-black: #000;
$color-white: #fff;

$screen-tablet: 768px;
$screen-desktop: 1200px;